    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    //第一部分#head
    #heade {
        margin: 0 auto;
        background-color: rgb(50, 53, 162);
        .heade-one {
            width: 1190px;
            height: 80px;
            margin: 0 auto;
            text-align: center;
        }
    }
    
    //第二部分#head-a
    #head-a {
        margin: 0 auto;
        border-bottom: 1px solid #ddd;
        background-color: #e3e4e5;
        .head-a-a {
            width: 1190px;
            margin: 0 auto;
            height: 30px;
            line-height: 30px;
            i {
                font-size: 14px;
                color: #f10215;
                line-height: 30px;
                margin-right: 4px;
                float: left;
            }
            span {
                width: 24px;
                height: 16px;
                color: #999;
                font-size: 12px;
                line-height: 30px;
                float: left;
            }
            ul {
                width: 693px;
                height: 30px;
                float: right;
                li {
                    width: 77px;
                    height: 30px;
                    text-align: center;
                    font-size: 12px;
                    color: #666;
                    line-height: 30px;
                    float: left;
                    ul {
                        z-index: 3;
                        background-color: #fff;
                        width: 160px;
                        height: 100px;
                        display: none;
                        border: 1px solid #999;
                        li {
                            float: left;
                            width: 60px;
                            margin-left: 20px;
                            font-size: 12px;
                        }
                    }
                    span {
                        margin: 11px 5px 0;
                        width: 1px;
                        line-height: 10px;
                        color: #ccc;
                    }
                    a {
                        color: #666;
                    }
                    a:hover {
                        color: #e2231a;
                    }
                }
                .caidan:hover {
                    position: relative;
                    .one {
                        position: absolute;
                        display: block;
                        li:hover {
                            color: #e2231a;
                        }
                    }
                }
                .caidan-a {
                    position: relative;
                    ul {
                        z-index: 3;
                        background-color: #fff;
                        width: 200px;
                        height: 100px;
                        display: none;
                        position: absolute;
                        border: 1px solid #999;
                        li {
                            float: left;
                            width: 60px;
                            font-size: 12px;
                        }
                    }
                }
                .caidan-a:hover .two {
                    display: block;
                }
                .two {
                    li:hover {
                        color: #e2231a;
                    }
                }
                .caidan-b {
                    ul {
                        z-index: 3;
                        position: relative;
                        width: 260px;
                        height: 120px;
                        display: none;
                        border: 1px solid #999;
                        background-color: #fff;
                        li {
                            float: left;
                            width: 60px;
                            font-size: 12px;
                        }
                    }
                }
                .caidan-b:hover .three {
                    display: block;
                }
                .three {
                    li:hover {
                        color: #e2231a;
                    }
                }
            }
        }
    }
    
    //第三部分#head-b
    #head-b {
        background-color: #fff;
        .head-b-one {
            position: relative;
            width: 1190px;
            height: 141px;
            margin: 0 auto;
            .head-logo {
                position: absolute;
                z-index: 2;
                left: 0;
                top: 10px;
                width: 190px;
                height: 120px;
                background-color: #fff;
                background-image: url("//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png");
            }
        }
        .head-b-two {
            height: 60px;
            .head-b-three {
                position: absolute;
                top: 25px;
                width: 546px;
                height: 32px;
                border: 2px solid #e2231a;
                background: #fff;
                margin-left: 300px;
                input {
                    width: 425px;
                    left: 0;
                    padding: 2px 44px 2px 17px;
                    height: 26px;
                    outline: none;
                    line-height: 26px;
                    border: none;
                    font-size: 12px;
                }
                span {
                    display: block;
                    position: absolute;
                    top: -1px;
                    left: 488px;
                    background-color: #c81623;
                    width: 60px;
                    line-height: 33px;
                    i {
                        margin-left: 20px;
                    }
                }
            }
        }
        .head-b-five {
            width: 130px;
            height: 34px;
            background-color: #fff;
            text-align: center;
            line-height: 34px;
            border: 1px solid #ccc;
            position: absolute;
            top: 25px;
            right: 180px;
            a {
                color: #e1251b;
                font-size: 14px;
            }
        }
        .head-b-six {
            margin: 5px auto;
            width: 66px;
            height: 66px;
            position: absolute;
            top: 10px;
            right: 0;
            img {
                width: 66px;
                height: 66px;
            }
        }
        .head-b-seven {
            margin-top: 5px;
            ;
            width: 550px;
            height: 20px;
            position: absolute;
            left: 300px;
            li {
                float: left;
                line-height: 20px;
                a {
                    font-size: 12px;
                    margin-right: 10px;
                    color: #666;
                }
                a:hover {
                    color: #e1251b;
                }
            }
        }
        .head-b-eight {
            width: 761px;
            height: 40px;
            position: absolute;
            left: 240px;
            top: 95px;
            li {
                float: left;
                a {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    color: #333;
                    margin: 0 11px;
                }
                a:hover {
                    color: #e1251b;
                }
            }
        }
        .dsst {
            margin: 0 auto;
            width: 1190px;
            height: 43px;
            background: #f3f3f3;
            input {
                margin-left: 100px;
            }
            span:nth-child(2) {
                margin-left: 50px;
                width: 208px;
                line-height: 43px;
                font-size: 16px;
            }
            span:nth-child(3) {
                margin-left: 225px;
                width: 208px;
                line-height: 43px;
                font-size: 16px;
            }
            span:nth-child(4) {
                margin-left: 120px;
                width: 208px;
                line-height: 43px;
                font-size: 16px;
            }
            span:nth-child(4) {
                margin-left: 180px;
                width: 208px;
                line-height: 43px;
                font-size: 16px;
            }
            span:nth-child(5) {
                margin-left: 180px;
                width: 208px;
                line-height: 43px;
                font-size: 16px;
            }
            span:nth-child(6) {
                margin-left: 100px;
                width: 208px;
                line-height: 43px;
                font-size: 16px;
            }
        }
        #carts {
            width: 1190px;
            // height: 108px;
            margin: 0 auto;
            border: 1px solid #f0f0f0;
            li {
                width: 1190px;
                height: 110px;
                border: 1px solid #f0f0f0;
                .ck {
                    width: 12px;
                    height: 12px;
                    margin-left: 100px;
                    margin-top: 0px;
                }
                img {
                    width: 80px;
                    height: 80px;
                    margin-left: 60px;
                    margin-top: 15px;
                }
                span:nth-child(3) {
                    margin-left: 60px;
                    display: inline-block;
                    width: 64px;
                    text-align: center;
                }
                span:nth-child(4) {
                    margin-left: 70px;
                    display: inline-block;
                    width: 41px;
                    text-align: center;
                }
                span:nth-child(5) {
                    margin-left: 80px;
                    display: inline-block;
                    width: 32px;
                    text-align: center;
                    border: 1px solid black;
                }
                span:nth-child(6) {
                    color: #333;
                }
                span:nth-child(7) {
                    color: #333;
                    border: 1px solid black;
                }
                span:nth-child(8) {
                    margin-left: 70px;
                    display: inline-block;
                    width: 28px;
                    text-align: center;
                }
                span:nth-child(9) {
                    margin-left: 100px;
                    display: inline-block;
                    width: 32px;
                    text-align: center;
                }
            }
        }
    }