* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #f4f4f4;
}

#shouye {
    height: 100%;
    background-color: #f4f4f4;
    //第一部分#head
    #heade {
        margin: 0 auto;
        background-color: rgb(50, 53, 162);
        .heade-one {
            width: 1190px;
            height: 80px;
            margin: 0 auto;
            text-align: center;
        }
    }
    //第二部分#head-a
    #head-a {
        margin: 0 auto;
        border-bottom: 1px solid #ddd;
        background-color: #e3e4e5;
        .head-a-a {
            width: 1190px;
            margin: 0 auto;
            height: 30px;
            line-height: 30px;
            i {
                font-size: 14px;
                color: #f10215;
                line-height: 30px;
                margin-right: 4px;
                float: left;
            }
            span {
                width: 24px;
                height: 30px;
                color: #999;
                font-size: 12px;
                line-height: 30px;
                float: left;
            }
            ul {
                width: 693px;
                height: 30px;
                float: right;
                li {
                    width: 77px;
                    height: 30px;
                    text-align: center;
                    font-size: 12px;
                    color: #666;
                    line-height: 30px;
                    float: left;
                    ul {
                        z-index: 3;
                        background-color: #fff;
                        width: 160px;
                        height: 100px;
                        display: none;
                        border: 1px solid #999;
                        li {
                            float: left;
                            width: 60px;
                            margin-left: 20px;
                            font-size: 12px;
                        }
                    }
                    span {
                        margin: 11px 5px 0;
                        width: 1px;
                        line-height: 10px;
                        color: #ccc;
                    }
                    a {
                        color: #666;
                    }
                    a:hover {
                        color: #e2231a;
                    }
                }
                .caidan:hover {
                    position: relative;
                    .one {
                        position: absolute;
                        display: block;
                        li:hover {
                            color: #e2231a;
                        }
                    }
                }
                .caidan-a {
                    position: relative;
                    ul {
                        z-index: 3;
                        background-color: #fff;
                        width: 200px;
                        height: 100px;
                        display: none;
                        position: absolute;
                        border: 1px solid #999;
                        li {
                            float: left;
                            width: 60px;
                            font-size: 12px;
                        }
                    }
                }
                .caidan-a:hover .two {
                    display: block;
                }
                .two {
                    li:hover {
                        color: #e2231a;
                    }
                }
                .caidan-b {
                    ul {
                        z-index: 3;
                        position: relative;
                        width: 260px;
                        height: 120px;
                        display: none;
                        border: 1px solid #999;
                        background-color: #fff;
                        li {
                            float: left;
                            width: 60px;
                            font-size: 12px;
                        }
                    }
                }
                .caidan-b:hover .three {
                    display: block;
                }
                .three {
                    li:hover {
                        color: #e2231a;
                    }
                }
            }
        }
    }
    //第三部分#head-b
    #head-b {
        background-color: #fff;
        .head-b-one {
            position: relative;
            width: 1190px;
            height: 141px;
            margin: 0 auto;
            .head-logo {
                position: absolute;
                z-index: 2;
                left: 0;
                top: 10px;
                width: 190px;
                height: 120px;
                background-color: #fff;
                background-image: url("//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png");
            }
        }
        .head-b-two {
            height: 60px;
            .head-b-three {
                position: absolute;
                top: 25px;
                width: 546px;
                height: 32px;
                border: 2px solid #e2231a;
                background: #fff;
                margin-left: 300px;
                input {
                    width: 425px;
                    left: 0;
                    padding: 2px 44px 2px 17px;
                    height: 26px;
                    outline: none;
                    line-height: 26px;
                    border: none;
                    font-size: 12px;
                }
                span {
                    display: block;
                    position: absolute;
                    top: -1px;
                    left: 488px;
                    background-color: #c81623;
                    width: 60px;
                    line-height: 33px;
                    i {
                        margin-left: 20px;
                    }
                }
            }
        }
        .head-b-five {
            width: 130px;
            height: 34px;
            background-color: #fff;
            text-align: center;
            line-height: 34px;
            border: 1px solid #ccc;
            position: absolute;
            top: 25px;
            right: 180px;
            a {
                color: #e1251b;
                font-size: 14px;
            }
        }
        .head-b-six {
            margin: 5px auto;
            width: 66px;
            height: 66px;
            position: absolute;
            top: 10px;
            right: 0;
            img {
                width: 66px;
                height: 66px;
            }
        }
        .head-b-seven {
            margin-top: 5px;
            ;
            width: 550px;
            height: 20px;
            position: absolute;
            left: 300px;
            li {
                float: left;
                line-height: 20px;
                a {
                    font-size: 12px;
                    margin-right: 10px;
                    color: #666;
                }
                a:hover {
                    color: #e1251b;
                }
            }
        }
        .head-b-eight {
            width: 761px;
            height: 40px;
            position: absolute;
            left: 240px;
            top: 95px;
            li {
                float: left;
                a {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    color: #333;
                    margin: 0 11px;
                }
                a:hover {
                    color: #e1251b;
                }
            }
        }
    }
    //第四部分#con
    #con {
        height: 480px;
        .con-one {
            width: 1190px;
            height: 470px;
            margin: 10px auto 0;
            display: flex;
            justify-content: space-between;
            .con-two {
                width: 190px;
                height: 470px;
                background-color: #fff;
                ul {
                    height: 470px;
                    li {
                        margin-left: 20px;
                        font-size: 14px;
                        margin-top: 6px;
                    }
                    .li-a {
                        position: relative;
                        a {
                            font-size: 14px;
                            color: #333;
                        }
                        a:hover {
                            color: #e1251b;
                        }
                    }
                    li a {
                        display: block;
                        margin: 5px 0;
                        color: #333;
                    }
                    li a:hover {
                        color: #e1251b;
                    }
                    .li-a-b {
                        position: absolute;
                        width: 590px;
                        height: 470px;
                        top: 262px;
                        left: 362px;
                        z-index: 3;
                        display: none;
                        color: #666;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        li {
                            float: left;
                        }
                        .ul-one {
                            width: 580px;
                            height: 47px;
                            li {
                                width: 40px;
                                line-height: 47px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .con-two-a {
                position: relative;
                width: 590px;
                height: 470px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .swiper-container {
                width: 100%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
            .con-three {
                width: 190px;
                height: 470px;
            }
            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
            .first {
                width: 190px;
                height: 470px;
                img {
                    margin-bottom: 5px;
                    width: 190px;
                    height: 150px;
                }
            }
            .con-four {
                width: 190px;
                height: 470px;
                background-color: #fff;
                .con-five {
                    width: 190px;
                    height: 102px;
                }
                .con-five img {
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    border: 2px solid #fff;
                    margin-left: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    float: left;
                }
                .con-five span {
                    float: left;
                    width: 100px;
                    padding-top: 20px;
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                .con-five span:hover {
                    color: #e1251b;
                }
                .con-six {
                    width: 170px;
                    height: 40px;
                    display: flex;
                    left: 20px;
                    justify-content: space-around;
                    a {
                        display: inline-block;
                        margin: 0 5px;
                        width: 70px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                        text-align: center;
                        color: #fff;
                        border-radius: 13px;
                        background: #e1251b;
                    }
                }
                .con-seven {
                    width: 190px;
                    height: 30px;
                    border-top: 1px solid #ccc;
                    display: flex;
                    justify-content: space-between;
                    h4 {
                        display: inline-block;
                        font-size: 14px;
                        line-height: 30px;
                        margin-left: 10px;
                        color: #333;
                    }
                    a {
                        margin-right: 20px;
                        top: 10px;
                        line-height: 30px;
                        font-size: 12px;
                        color: #999;
                    }
                }
                .con-eight {
                    width: 190px;
                    height: 88px;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #ccc;
                    li {
                        font-size: 14px;
                        line-height: 20px;
                        color: #666;
                        li:hover {
                            color: #e1251b;
                        }
                        a {
                            font-size: 14px;
                            height: 16px;
                            width: 35px;
                            line-height: 16px;
                            margin-left: 10px;
                            margin-right: 10px;
                            color: #e1251b;
                            background-color: rgba(225, 37, 27, .08);
                        }
                    }
                }
                .con-nine {
                    width: 189px;
                    height: 240px;
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    a {
                        display: block;
                        width: 63px;
                        height: 55px;
                        text-align: center;
                        img {
                            width: 28px;
                            height: 28px;
                        }
                    }
                    span {
                        width: 63px;
                        height: 27px;
                        font-size: 12px;
                    }
                    a:hover span {
                        color: #de452b;
                    }
                }
            }
        }
    }
    //第五部分#cont
    #cont {
        height: 260px;
        position: relative;
        margin-bottom: 20px;
        margin-top: 30px;
        .cont-one {
            margin: 0 auto;
            width: 1190px;
            height: 260px;
        }
        .cont-two {
            width: 190px;
            height: 260px;
            float: left;
            background-color: #e83632;
            background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4a15d8883775742e3efbb850ae14def7.png);
            h1 {
                width: 100%;
                text-align: center;
                font-size: 30px;
                font-weight: 700;
                margin-top: 31px;
                color: #ffffff;
            }
            p {
                width: 190px;
                height: 25px;
                color: #ffffff;
                margin-top: 90px;
                font-size: 14px;
                text-align: center;
                strong {
                    font-size: 18px;
                }
            }
            span {
                position: relative;
                float: left;
                width: 30px;
                height: 30px;
                top: 20px;
                text-align: center;
                background-color: #2f3430;
                margin-left: 25px;
                color: white;
                font-size: 20px;
            }
        }
        .cont-three {
            width: 800px;
            height: 260px;
            float: left;
            position: relative;
            background-color: #fff;
            img {
                width: 140px;
                height: 140px;
            }
            .cont-three .swiper-container {
                width: 800px;
                height: 260px;
            }
            .cont-three .swiper-slide {
                width: 200px;
                height: 260px;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
            }
            .side-a,
            .side-b,
            .side-c,
            .side-d,
            .side-e,
            .side-f,
            .side-g,
            .side-k {
                width: 200px;
                height: 260px;
                img {
                    display: block;
                    width: 140px;
                    height: 140px;
                    margin: 30px auto 0;
                }
                p {
                    width: 200px;
                    height: 20px;
                    font-size: 12px;
                    text-align: center;
                    margin: 20px auto 0;
                }
                span {
                    display: block;
                    width: 160px;
                    height: 20px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 700;
                    background-color: #e1251b;
                    color: #fff;
                    margin: 5px auto 0;
                }
                strong {
                    width: 70px;
                    height: 18px;
                    float: right;
                    color: #666;
                    border: 1px solid #e1251b;
                    font-size: 12px;
                    background-color: #fff;
                    text-decoration: line-through;
                }
            }
            .cont-three.swiper-slide img {
                display: block;
                width: 100%;
            }
            @media only screen and (min-width: 769px) {
                .cont-three .swiper-slide:first-child {
                    transition: transform 100ms;
                }
                .cont-three .swiper-slide:first-child img {
                    transition: box-shadow 500ms;
                }
                .cont-three .swiper-slide:nth-child(2) {
                    transition: transform 100ms;
                }
                .cont-three .swiper-slide.swiper-slide-next:nth-child(2) {
                    transform: translateX(55%);
                    z-index: 1;
                }
                .cont-three .swiper-container[dir=rtl] .swiper-slide.swiper-slide-active:first-child {
                    transform: translateX(-50%);
                }
                .cont-three .swiper-container[dir=rtl] .swiper-slide.swiper-slide-next:nth-child(2) {
                    transform: translateX(-55%);
                }
            }
        }
        .cont-four {
            width: 190px;
            height: 260px;
            float: right;
            background-color: #f5f6f9;
            .cont-four .swiper-container {
                width: 100%;
                height: 100%;
            }
            .cont-four .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
            img {
                display: block;
                width: 120px;
                height: 120px;
                margin: 30px auto 0;
            }
            .side-h,
            .side-i {
                width: 190;
                height: 260px;
                p {
                    width: 180px;
                    height: 20px;
                    color: #666;
                    font-size: 14px;
                    margin: 10px auto 0;
                    text-align: center;
                }
                span {
                    display: block;
                    width: 180px;
                    height: 20px;
                    font-weight: 700;
                    color: #666;
                    font-size: 14px;
                    margin: 10px auto 0;
                    text-align: center;
                }
                strong {
                    display: block;
                    width: 100px;
                    height: 24px;
                    color: #e1251b;
                    border: 1px solid #e1251b;
                    border-radius: 14px;
                    font-size: 14px;
                    margin: 10px auto 0;
                    text-align: center;
                }
            }
        }
        .louti {
            width: 50px;
            height: 300px;
            position: absolute;
            right: 60px;
            top: 150px;
            position: fixed;
            li {
                width: 50px;
                height: 60px;
                float: left;
                background-color: #fff;
                span {
                    display: block;
                    width: 30px;
                    height: 40px;
                    margin: 10px;
                    font-size: 14px;
                }
            }
            li:hover {
                background-color: #de452b;
                color: #fff;
            }
        }
    }
    //第六部分#server
    #server {
        height: 340px;
        margin-top: 20px;
        margin-bottom: 20px;
        .server-a {
            width: 1190px;
            height: 340px;
            margin: 0 auto;
            // background-color: #fff;
            display: flex;
            justify-content: space-between;
            .server-a-a {
                width: 590px;
                height: 340px;
                background-color: #fff;
                .server-one {
                    height: 60px;
                    display: flex;
                    justify-content: space-between;
                    h1 {
                        float: left;
                        font-weight: 700;
                        font-size: 24px;
                        color: #333;
                        line-height: 60px;
                        margin-left: 20px;
                    }
                    li {
                        float: left;
                        a {
                            display: block;
                            text-align: center;
                            margin: 20px 10px;
                            font-size: 14px;
                            color: #666;
                        }
                        a:hover {
                            color: #e1251b;
                            border-bottom: 2px solid #e1251b;
                        }
                    }
                }
                .server-one-one {
                    margin: 0 10px;
                    width: 170px;
                    height: 260px;
                    float: left;
                    background-color: rgba(109, 126, 146, .05);
                    img {
                        width: 120px;
                        height: 120px;
                        margin-top: 50px;
                        margin-left: 25px;
                    }
                    dd {
                        margin-top: 9px;
                        margin-bottom: 4px;
                        height: 19px;
                        margin-left: 20px;
                        line-height: 19px;
                        color: #333;
                        font-size: 14px;
                        display: inline-block;
                        text-align: center;
                    }
                    dd:hover {
                        color: #e1251b;
                    }
                    b {
                        margin: 0 2px 0 40px;
                        color: #e1251b;
                        font-size: 18px;
                    }
                    span {
                        text-decoration: line-through;
                        color: #999;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
                .server-two {
                    width: 590px;
                    height: 280px;
                    figure {
                        margin: 20px 0 40px 30px;
                        float: left;
                        width: 146px;
                        height: 74px;
                        img {
                            width: 74px;
                            height: 74px;
                            float: left;
                        }
                        figcaption {
                            width: 66px;
                            height: 68px;
                            float: left;
                            margin-left: 5px;
                            p {
                                width: 75px;
                                height: 32px;
                                font-size: 12px;
                            }
                            b {
                                line-height: 16px;
                                color: #e1251b;
                                font-size: 14px;
                            }
                            span {
                                color: #999;
                                font-size: 12px;
                                line-height: 14px;
                                text-decoration: line-through;
                            }
                            p:hover {
                                color: #e1251b;
                            }
                        }
                    }
                }
            }
            .server-three {
                width: 590px;
                height: 340px;
                background-color: #fff;
                .server-three-one {
                    height: 60px;
                    padding: 0 20px;
                    h1 {
                        float: left;
                        font-weight: 700;
                        font-size: 24px;
                        color: #333;
                        line-height: 60px;
                    }
                }
            }
            .server-three-two {
                margin: 0 10px;
                width: 270px;
                height: 265px;
                float: left;
                background-color: rgba(109, 126, 146, .05);
                img {
                    width: 50px;
                    height: 25px;
                    margin-top: 20px;
                    margin: 15px 110px 0;
                    z-index: 1;
                }
                h6 {
                    color: #333;
                    font-weight: 700;
                    font-size: 16px;
                    text-align: center;
                    z-index: 1;
                    margin-top: 6px;
                }
                span {
                    display: block;
                    margin: 5px 0 13px 50px;
                    width: 170px;
                    font-size: 12px;
                    color: #666;
                    height: 16px;
                    b {
                        margin-left: 5px;
                    }
                }
                .server-three-a {
                    height: 110px;
                    img {
                        width: 130px;
                        height: 130px;
                        margin: 0 70px;
                    }
                }
            }
            .server-three-three {
                float: right;
                width: 280px;
                height: 235px;
                figure {
                    width: 135px;
                    height: 100px;
                    float: left;
                    img {
                        width: 80px;
                        height: 40px;
                        margin: 0 20px;
                    }
                    figcaption {
                        color: #666;
                        margin-top: 6px;
                        font-size: 12px;
                        text-align: center;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    //第七部分#search
    #search {
        height: 260px;
        .search-one {
            width: 1190px;
            height: 260px;
            margin: 0 auto;
            .search-two {
                width: 190px;
                height: 260px;
                float: left;
                background: url("../img/411.png");
                .search-two-one {
                    width: 160px;
                    height: 90px;
                    margin-top: 15px;
                    margin-left: auto;
                    margin-right: auto;
                    background: url("../img/412.png");
                    span {
                        color: rgba(255, 255, 255, .8);
                        font-size: 16px;
                        height: 16px;
                        position: absolute;
                        padding-top: 50px;
                        padding-left: 20px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
        .search-three {
            margin: 0 auto;
            width: 990px;
            height: 260px;
            float: right;
            background-color: #fff;
            img {
                width: 150px;
                height: 150px;
            }
        }
        .swiper-container {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            .lunbo-a {
                width: 151px;
                height: 201px;
                margin-top: 40px;
                p {
                    width: 160px;
                    height: 20px;
                    font-size: 14px;
                    color: #333;
                    margin-left: 45px;
                }
                img {
                    margin: 10px 45px 0;
                }
            }
            .lunbo-b {
                width: 151px;
                height: 201px;
                margin-top: 40px;
                p {
                    width: 160px;
                    height: 20px;
                    font-size: 14px;
                    color: #333;
                    margin-left: 50px;
                }
                img {
                    margin: 0 45px
                }
            }
        }
    }
    //第八部分#moon
    #moon {
        height: 305px;
        margin-bottom: 20px;
        margin-top: 20px;
        .moon-one {
            width: 1190px;
            height: 305px;
            margin: 0 auto;
            display: flex;
            // background: #ffffff;
            justify-content: space-around;
            .moon-two {
                width: 290px;
                height: 305px;
                background: #fff;
                h2 {
                    line-height: 60px;
                    padding: 0 20px;
                }
            }
            .swiper-container {
                width: 100%;
                height: 240px;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                transition: 300ms;
                transform: scale(0.8);
                img {
                    width: 130px;
                    height: 130px;
                }
            }
            .swiper-slide-active,
            .swiper-slide-duplicate-active {
                transform: scale(1);
            }
        }
        .moon-three {
            width: 290px;
            height: 305px;
            background-color: #fff;
            h2 {
                line-height: 60px;
                padding: 0 20px;
            }
            ul {
                width: 290px;
                height: 30px;
                li {
                    width: 60px;
                    height: 26px;
                    margin-left: 5px;
                    float: left;
                    a {
                        display: block;
                        color: #999;
                        font-size: 12px;
                        background-color: #f6f6f6;
                        height: 20px;
                        line-height: 20px;
                        margin: 0 4px;
                        width: 60px;
                        text-align: center;
                        border-radius: 12px;
                    }
                    a:hover {
                        color: #ffffff;
                        background-color: #e2231a;
                    }
                }
            }
            img {
                width: 60px;
                height: 60px;
                float: left;
                margin-left: 30px;
                margin-top: 10px;
            }
            span:hover {
                color: #e2231a;
            }
            span {
                display: block;
                float: left;
                margin-top: 20px;
                margin-left: 20px;
                width: 140px;
                font-size: 14px;
                height: 50px;
            }
        }
        .moon-four {
            width: 290px;
            height: 305px;
            background-color: #fff;
            h2 {
                line-height: 60px;
                padding: 0 20px;
            }
            .moon-four-one {
                width: 260px;
                height: 113px;
                background-color: #ebf6f4;
                margin-left: 10px;
                margin-bottom: 10px;
                .moon-four-two {
                    width: 120px;
                    height: 75px;
                    margin-left: 20px;
                    padding-top: 20px;
                    float: left;
                    p {
                        width: 120px;
                        font-size: 12px;
                        color: #333;
                    }
                    p:nth-child(2) {
                        font-size: 12px;
                        width: 25px;
                        height: 18px;
                        color: #e2231a;
                        float: left;
                        border-radius: 2px;
                        margin-top: 2px;
                        border: 1px solid #e2231a;
                    }
                    span {
                        display: inline-block;
                        border: 1px solid #596fab;
                        color: #596fab;
                        font-size: 12px;
                        border-radius: 2px;
                        height: 17px;
                        width: 54px;
                        margin-left: 3px;
                    }
                    p:nth-child(4) {
                        color: #999;
                        margin-top: 10px;
                        font-size: 12px;
                        bottom: 15px;
                    }
                    p:hover {
                        color: #e2231a;
                    }
                }
                .moon-four-three {
                    width: 75px;
                    height: 75px;
                    float: right;
                    margin: 20px 20px 20px 0;
                    img {
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
        .moon-five {
            width: 290px;
            height: 305px;
            background-color: #fff;
            h2 {
                line-height: 60px;
                padding: 0 20px;
            }
            .moon-five-one {
                width: 290px;
                height: 245px;
                background-image: url(../img/611.png);
                .moon-five-two {
                    width: 260px;
                    height: 82px;
                    margin-left: 10px;
                    .moon-five-six {
                        width: 164px;
                        height: 72px;
                        float: left;
                        span {
                            width: 164px;
                            float: left;
                            margin-left: 60px;
                        }
                        span:nth-child(1) {
                            color: #e33333;
                            line-height: 24px;
                            font-family: impact, sans-serif;
                            font-size: 28px;
                            margin-top: 5px;
                            margin-top: 10px;
                        }
                        span:nth-child(2) {
                            font-size: 12px;
                            line-height: 18px;
                            height: 18px;
                            color: #999;
                        }
                        span:nth-child(3) {
                            font-size: 12px;
                            line-height: 18px;
                            height: 18px;
                            color: #333;
                            margin-top: 5px;
                            ;
                        }
                    }
                    .moon-five-seven {
                        float: right;
                        width: 20px;
                        height: 15px;
                        color: #666;
                        font-size: 14px;
                        .moon-five-seven:hover {
                            color: #e1251b
                        }
                    }
                }
            }
        }
    }
    //  第九部分#boom
    #boom {
        height: 65px;
        background-color: #f4f4f4;
        .boom-one {
            width: 1190px;
            height: 45px;
            margin: 0 auto;
            h3 {
                width: 150px;
                height: 45px;
                font-size: 28px;
                font-weight: 700;
                text-align: center;
                line-height: 45px;
                padding: 0 30px;
                margin: 0 auto 20px;
                color: #333;
            }
        }
    }
    // 第十部分#code
    #code {
        height: 950px;
        margin-bottom: 20px;
        .code-one {
            width: 1190px;
            height: 950px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 auto;
            .code-two {
                width: 290px;
                height: 370px;
                img {
                    width: 290px;
                    height: 370px;
                }
                .code-three {
                    margin-bottom: 5px;
                    .code-four {
                        width: 250px;
                        height: 60px;
                        margin-left: 20px;
                        span {
                            font-size: 22px;
                            font-weight: 700;
                            line-height: 60px;
                            color: #333;
                        }
                        p {
                            display: inline-block;
                            font-size: 14px;
                            color: #999;
                            margin-left: 5px;
                        }
                    }
                    .code-five {
                        width: 290px;
                        height: 100px;
                        display: flex;
                        justify-content: space-around;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
            .code-three {
                width: 290px;
                height: 180px;
                background-color: #fff;
                .code-four {
                    width: 250px;
                    height: 60px;
                    margin-left: 20px;
                    span {
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 60px;
                        color: #333;
                    }
                    p {
                        display: inline-block;
                        font-size: 14px;
                        color: #999;
                        margin-left: 5px;
                    }
                }
                .code-five {
                    width: 290px;
                    height: 100px;
                    display: flex;
                    justify-content: space-around;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
    //第十一部分
    #hate {
        height: 65px;
        background-color: #f4f4f4;
        .hate-one {
            width: 1190px;
            height: 45px;
            margin: 0 auto;
            h3 {
                width: 150px;
                height: 45px;
                font-size: 28px;
                font-weight: 700;
                text-align: center;
                line-height: 45px;
                padding: 0 30px;
                margin: 0 auto 20px;
                color: #333;
            }
        }
    }
    //第十二部分#idea
    #idea {
        height: 60px;
        margin-bottom: 10px;
        .idea-one {
            width: 1190px;
            height: 60px;
            background: #ffffff;
            margin: 0 auto;
            ul {
                width: 1190px;
                height: 60px;
                li {
                    width: 180px;
                    height: 60px;
                    float: left;
                    margin-left: 10px;
                    text-align: center;
                    line-height: 30px;
                    span {
                        color: #333;
                        width: 150px;
                        margin-top: 7px;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 27px;
                    }
                    p {
                        color: #999;
                        font-size: 14px;
                    }
                }
                li:hover span {
                    color: #e1251b;
                }
                li:hover p {
                    color: #e1251b;
                }
            }
        }
    }
    //  第十三部分#deet(同时作为商品列表页进行展示)
    #deet {
        height: 654px;
        .deet-one {
            width: 1190px;
            height: 654px;
            margin: 0 auto;
            display: flex;
            border: 1px solid black;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .deet-two {
            width: 230px;
            height: 322px;
            border: 1px solid black;
            background-color: #fff;
            img {
                width: 150px;
                height: 150px;
                margin: 40px;
            }
            p {
                font-size: 12px;
                margin-left: 20px;
                width: 190px;
                height: 48px;
                text-align: center;
                color: #666;
            }
            span {
                display: block;
                width: 190px;
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                color: #e1251b;
                line-height: 16px;
                margin: 10px 0 10px 20px;
            }
        }
        strong {
            display: block;
            width: 190px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            font-size: 16px;
            color: #ffffff;
            background-color: red;
        }
    }
    //  第十四部分#pass
    #pass {
        height: 103px;
        .pass-one {
            width: 1190px;
            height: 103px;
            margin: 0 auto;
            border-bottom: 1px solid #cecece;
            .pass-three {
                height: 103px;
                display: block;
                display: flex;
                justify-content: space-around;
                li {
                    width: 225px;
                    line-height: 42px;
                    margin: 30px 0;
                    text-align: center;
                    .one {
                        p {
                            display: inline-block;
                            width: 36px;
                            height: 42px;
                            background-image: url(../img/foot11.png);
                            background-position: 0 -192px;
                            vertical-align: middle;
                        }
                        span {
                            display: inline-block;
                            line-height: 42px;
                            font-size: 18px;
                            font-weight: 700;
                            color: #444;
                            vertical-align: middle;
                        }
                    }
                    .two {
                        p {
                            display: inline-block;
                            width: 36px;
                            height: 42px;
                            background-image: url(../img/foot11.png);
                            background-position: -41px -192px;
                            vertical-align: middle;
                        }
                        span {
                            height: 42px;
                            line-height: 42px;
                            font-size: 18px;
                            font-weight: 700;
                            color: #444;
                            vertical-align: middle;
                        }
                    }
                    .three {
                        p {
                            display: inline-block;
                            width: 36px;
                            height: 42px;
                            background-image: url(../img/foot11.png);
                            background-position: -82px -192px;
                            vertical-align: middle;
                        }
                        span {
                            height: 42px;
                            line-height: 42px;
                            font-size: 18px;
                            font-weight: 700;
                            color: #444;
                            vertical-align: middle;
                        }
                    }
                    .four {
                        p {
                            display: inline-block;
                            width: 36px;
                            height: 42px;
                            background-image: url(../img/foot11.png);
                            background-position: -123px -192px;
                            vertical-align: middle;
                        }
                        span {
                            height: 42px;
                            line-height: 42px;
                            font-size: 18px;
                            font-weight: 700;
                            color: #444;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    //  第十五部分#gate
    #gate {
        height: 200px;
        border-top: 1px solid #ccc;
        .gate-one {
            width: 1190px;
            height: 200px;
            margin: 0 auto;
            .gate-two {
                width: 1190px;
                height: 160px;
                margin: 20px auto;
                .gate-three {
                    width: 198px;
                    height: 154px;
                    float: left;
                    span {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: #666;
                        font-weight: 600;
                    }
                    li {
                        margin-top: 2px;
                        a {
                            font-size: 12px;
                            color: #666;
                        }
                        a:hover {
                            color: #e1251b;
                        }
                    }
                }
                .gate-four {
                    width: 198px;
                    height: 133px;
                    float: left;
                    span {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: #666;
                        font-weight: 600;
                    }
                    li {
                        margin-top: 2px;
                        a {
                            font-size: 12px;
                            color: #666;
                        }
                        a:hover {
                            color: #e1251b;
                        }
                    }
                }
                .gate-five {
                    width: 198px;
                    height: 85px;
                    float: left;
                    span {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: #666;
                        font-weight: 600;
                    }
                    li {
                        margin-top: 2px;
                        a {
                            font-size: 12px;
                            color: #666;
                        }
                        a:hover {
                            color: #e1251b;
                        }
                    }
                }
                .gate-six {
                    width: 198px;
                    height: 154px;
                    float: left;
                    span {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: #666;
                        font-weight: 600;
                    }
                    li {
                        margin-top: 2px;
                        a {
                            font-size: 12px;
                            color: #666;
                        }
                        a:hover {
                            color: #e1251b;
                        }
                    }
                }
                .gate-seven {
                    width: 198px;
                    height: 133px;
                    float: left;
                    span {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: #666;
                        font-weight: 600;
                    }
                    li {
                        margin-top: 2px;
                        a {
                            font-size: 12px;
                            color: #666;
                        }
                        a:hover {
                            color: #e1251b;
                        }
                    }
                }
                .gate-eight {
                    width: 200px;
                    height: 70px;
                    float: left;
                    span {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: #333;
                        font-weight: 700;
                    }
                    p {
                        font-size: 12px;
                        color: #666;
                        margin-top: 15px;
                    }
                    a {
                        display: block;
                        color: #666;
                        font-size: 12px;
                        float: right;
                    }
                    a:hover {
                        color: #e1251b;
                    }
                }
            }
        }
    }
    //  第十六部分#just
    #just {
        height: 261px;
        .just-one {
            width: 1190px;
            height: 105px;
            margin: 0 auto;
            border-top: 1px solid #ccc;
            ul {
                width: 990px;
                height: 17px;
                margin: 10px 100px;
                li {
                    float: left;
                    width: 65px;
                    text-align: center;
                    border-right: 1px solid #ccc;
                    a {
                        display: block;
                        margin-left: 10px;
                        width: 48px;
                        height: 16px;
                        color: #666;
                        font-size: 12px;
                    }
                    a:hover {
                        color: #e1251b;
                    }
                }
                li:nth-last-child(1) {
                    border: 0;
                }
            }
            .just-two {
                width: 1190px;
                height: 64px;
                p {
                    text-align: center;
                    span {
                        color: #999;
                        font-size: 12px;
                        margin-left: 10px;
                        a {
                            font-size: 12px;
                            color: #999;
                        }
                        a:hover {
                            color: #e1251b;
                        }
                    }
                }
            }
        }
        .fead-a {
            width: 1190px;
            height: 36px;
            margin: 25px 0;
            margin: 25px auto;
            .fead-b,
            .fead-c,
            .fead-d,
            .fead-e,
            .fead-f,
            .fead-g {
                display: inline-block;
                width: 103px;
                height: 36px;
                background-repeat: no-repeat;
                background-image: url(../img/foot11.png);
            }
            .fead-b {
                background-position: -205px -111px;
                margin: 0 3px 0 265px;
            }
            .fead-c {
                background-position: -205px -74px;
            }
            .fead-d {
                background-position: -205px -37px;
            }
            .fead-e {
                background-position: -205px 0px;
            }
            .fead-f {
                background-position: 0 -155px;
            }
            .fead-g {
                background-position: -205px -149px;
                margin: 0 265px 0 0;
            }
        }
    }
}